<!DOCTYPE html>
<html>
<head>
   <title>Jarvis </title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.css">
   <link rel="stylesheet" href="static/css/index.css">
  <script src="static/js/jquery.js"></script>
</head>
<body>
<div class="wrapper">
          <form class="form-signin" method ="post" action="/login">
            <h1 class="main-welcome">You reached Jarvis's,</h1>
            <label for="username" class="sr-only">Email address</label>
            <input type="username" name="username" class="form-control" placeholder="User Name" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            
            {% if error %}
               <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Connect</button>
          </form>
</div> <!-- /container -->
</body>
</html>
