html,body{
    background-color: #1d1d1d;
}
.bs-header{
  color: white;
  text-shadow: 0px 3px 0px black, 0px -3px 0px black;
  text-align: left;
}
.bs-header h2
{
    font-size: 70px;
}
.bs-header a {
  color: white;
  float: right;
}

.list-group-item-heading{
  text-align: center;
}
#t,#h,#m,#l{
  text-align: center;
  font-size: 3.5em;
}

#t:after {
    content: ' °C';
}
#h:after {
    content: ' %';
}
#l:after {
    content: ' %';
}

@media only screen and (max-width: 480px) {
      .bs-header {
        text-align: center;
    }
    .bs-header h1 {
        font-size: 75px;
    }
#t,#h,#m,#l,#c{
  text-align: center;
  font-size: 2em;
}
#t:after {
    content: ' °C';
}
}
.settings {
  margin:0 auto;
  width:auto;
}
.settings .row {
  display: table-row;
}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.settings .question {
  width: 200px;
  font-family: serif;
  font-size: 30px;
}


/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

input.round {
  border-color:#D3D3D3;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
height:50px;
font-size:20px;
width: 100px;
text-align:center;
margin-left: 10px;
}